//All flair goes here

//Colored flair
.flair-red {
    color: Red;
}

.flair-blue {
    color: MediumBlue;
}

.flair-pink {
    color: DeepPink;
}

.flair-yellow {
    color: Yellow;
}

.flair-green {
    color: Green;
}

.flair-purple {
    color: Purple;
}

.flair-orange {
    color: Orange;
}


//Styled flair
.flair-strikethrough {
    color: #0047FF;
    text-decoration: line-through;
}

.flair-blackbg { 
    background: black; c
    olor: white;
}

//Icons
//Flair for people who help us on github
//These people don't need to have flair text, but they do need a flair class of github
.flair-github:before {
    display: inline-block;
    content: "";
    width: 16px; height: 16px;
    background:url(%%github%%)no-repeat;
}
