//All flair goes here

//Colored flair
.flair-red { color: #cc0000; }
.flair-blue { color: #0047FF; }
.flair-pink { color: #FF00CC; }

//Styled flair
.flair-strikethrough {
    color: #0047FF;
    text-decoration: line-through;
}

//Icons
//Flair for people who help us on github
//These people don't need to have flair text, but they do need a flair class of github
.flair-github:before {
    display: inline-block;
    content: "";
    width: 16px; height: 16px;
    background:url(%%github%%)no-repeat;
}
